transformer-lens @ git+https://github.com/neelnanda-io/TransformerLens.git
bitsandbytes
dataclasses
jupyter
papermill
seaborn
scipy
# New
wrpy
nnsight
munch
cache_decorator
cloudpickle<3  # Babelnet requires cloudpickle<3
babelnet -C="--ignore-requires-python"
emoji