transformer-lens @ git+https://github.com/neelnanda-io/TransformerLens.git
bitsandbytes
dataclasses
jupyter
papermill
seaborn
scipy
# New
wrpy
nnsight
munch
cache_decorator
babelnet --install-option="--ignore-requires-python"