transformer-lens @ git+https://github.com/neelnanda-io/TransformerLens.git
bitsandbytes
dataclasses
jupyter
papermill
seaborn
scipy
# New
wrpy
nnsight
munch
cache_decorator
cloudpickle<3  # Babelnet requires cloudpickle<3
# make sure to download
# babelnet -C="--ignore-requires-python"
emoji
coolname
openpyxl
hydra-core
omegaconf
retry 
tiktoken